env:
  jest/globals: true
extends: standard
plugins:
- jest
rules:
  indent:
  - error
  - 2
  - CallExpression:
      arguments: first
    FunctionDeclaration:
      parameters: first
    FunctionExpression:
      parameters: first
    SwitchCase: 1
  no-unused-vars:
  - error
  - args: all
